body,html 
  font-size: 200
  font-smoothing 'PingFang SC', 'STheitiSC-Light', 'Helvetica-Light', arial
@media (min-device-pixel-ratio: 1.5),(-webkit-device-pixel-ratio: 1.5)
 .border-1px
  &::after
   transform: scaleY(0.7)
   -webkit-transform: scaleY(0.7)

 @media (min-device-pixcel-ratio: 2.0),(-webkit-device-pixel-ratio: 2.0)
  .border-1px
   &::after
    transform:scaleY(0.5)
    -webkit-transform:scaleY(0.5)

